:root {
  --color01: black;
  --color02: white;
  --color03: coral;
  --color04: yellow;
  --border: dashed 0.2rem var(--color04);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color01: white;
    --color02: black;
  }
}

body {
  background-color: (var(--color01));
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color01);
  border: var(--border);
}

.stageContainer {
  background-color: var(--color02);
  flex: 1;
  cursor: crosshair;
}
