/* I selected these fonts as they fit with fantasy/tavern theme of my project so far */
@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Julee&family=Nova+Script&display=swap");

/* I wanted everything in this project to fit in one display.
I added an image of a tavern for the background, as the visual aesthetic for the project.
I intend to add more backgrounds, which show up randomly, to fit the theme of a wandering bard */
body {
  background-image: url("assets/background.png");
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
/* aligning the contents horizontally, and setting the 
konva-stage to the right side of the project */
.stageContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
/* This is the container where the primary function of this project will take place */
#konva-stage {
  height: 400px;
  width: 600px;
  background-color: rgba(67, 134, 47, 0);
  background-size: 100% 100%;
  /* I decided to use an image of a scroll for the container as it fit the tavern/fantasy theme
  for word related content */
  background-image: url(assets/wordContainer.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 100px;
  margin-bottom: -50px;
}

/* styling the dialog box when it is open. I will likely add a background image later on so that it
fits better with the theme of this project. */
#Warning[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(61, 61, 34);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  justify-content: center;
}

#dialogtext {
  font-family: Nova Script;
}

#Acknowledged {
  width: 8rem;
  font-family: Nova Script;
}
/* Feedback to show users they hovering over an interactive element*/
#Acknowledged:hover {
  cursor: pointer;
}

/* Solution I found so that the image of bard would fit the way I wanted */
#bardContainer {
  max-height: 100vh;
  width: 40%;
  overflow: hidden;
  position: relative;
}

#bard {
  width: 90%;
  object-fit: contain;
  position: relative;
  left: 10px;
  top: -70px;
}

/* adjusting the dialogue box so that it fits just right inside the project */
#dialogue {
  position: absolute;
  bottom: 70px; /* distance above bard */
  left: 40px;
  width: 400px;
  height: 175px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: rgba(142, 235, 114, 0.603);
  border-radius: 10px;

  /* ensures that this box fits on top of the bard */
  z-index: 10;
  white-space: pre-line;
}
/* adjusting the placement of the background music: on/off button */
#uiButtons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* adjusting the attributions link to be in the corner of the project, away from where the main
focus of the project is */
#link {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  color: rgb(255, 255, 255);
}
/* invisible tooltip directly above the attributions link */
#linkTooltip {
  position: absolute;
  bottom: 20px;
  right: 15px;
  text-align: center;
  font-size: 12px;
  color: rgb(0, 0, 0);
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: none;
}

/* reveals tooltip when attributions link is hovered over */
#link:hover ~ #linkTooltip {
  display: block;
}
